{% extends 'base.html.twig' %}

{% block body %}

    <center><h1>Composer Bundles Version</h1><center>
    <table style="width:90%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Installed Version</th>
            <th>Available Version</th>
            <th>Status</th>
        </tr>
        {% for package in packages %}
            {% set color_class = "" %}
            {% if package.latestStatus == "up-to-date" %}
                {% set color_class = "package-updated" %}
            {% elseif package.latestStatus == "semver-safe-update"%}
                {% set color_class = "package-break" %}
            {% elseif package.latestStatus == "update-possible"%}
                {% set color_class = "package-updatable" %}
            {%endif%}

            <tr class="{{color_class}}">
                <td>{{package.name}}</td>
                <td>{{package.description}}</td>
                <td>{{package.version}}</td>
                <td>{{package.latest}}</td>
                <td>{{package.latestStatus}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    <style>
        table {
            width:100%;
        }
        table, th, td {
            border-collapse: collapse;
            border:1px solid black;
        }
        th {
            background-color: #C9C9C9;            
        }
        .package-updated {
            background-color: white;
        }
        .package-break {
            background-color: khaki;
        }
        .package-updatable {
            background-color: #ff7777;
        }
    </style>
{% endblock %}
